selenium==3.4.2
requests==2.18.1
lxml==3.7.3
cov-core==1.15.0
chardet==3.0.3
python-dateutil==2.6.0
celery==4.1.0
redis==2.10.5
sqlalchemy==1.1.11
psycopg2==2.7.1
sqlalchemy-utils==0.32.14
ruamel.yaml==0.15.31
